.project {
    padding: 3rem 0 2rem;
    text-align: center;
}

.project--visual-quiz {
    background: $siteTeal;
}

.project--codepen {
    background: $siteMidGray;
}

.codepen-container {
    width: 50%;
    min-width: (350rem / 16);
    margin: 0 auto;
}

.description {
    margin-top: 2rem;
}

.subtitle {
    margin-top: .5rem;
}