.body__main {
    text-align: center;
}

.intro {
    @include transform-translate(-2rem, 0);
    @include flexbox();
    @include flexbox-justify-content(center);
    @include flexbox-align-items(flex-start);
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.intro__face {
    width: (133rem / 16);
    margin-right: 1rem;
}

.build,
.move {
    margin-bottom: 5rem;
}

.work {
    margin-bottom: 4rem;
}

.header {
    @include center-block();
    @include flexbox();
    @include flexbox-justify-content(space-between);
    @include flexbox-align-items(center);
    max-width: (325rem / 16);
}

.build__icons,
.move__icons,
.work__icons {
    width: (126rem / 16);
}

.arrow--down {
    @include transform-origin(50%, 50%);
    @include transform-rotate(90);
    width: (41rem / 16);
}

.email--alt {
    @include center-block();
    width: (96rem / 16);
}

.project {
    padding: 3rem 0 2rem;
    text-align: center;
}

.project--visual-quiz {
    background: $siteTeal;
}

.project--codepen {
    background: $siteMidGray;
}

.codepen-container {
    width: 50%;
    min-width: (350rem / 16);
    max-width: (750rem / 16);
    margin: 0 auto;
}

.description {
    margin-top: 2rem;
}

.subtitle {
    margin-top: .5rem;
}