.wrapper {
    overflow: hidden;
}

p {
    .project & {
        font-size: (21rem / 16);
    }

    .project--visual-quiz &,
    .project--codepen & {
        color: $white;
    }
}

h3 {
    .project--visual-quiz &,
    .project--codepen & {
        color: $white;
    }
}

h5 {
    display: inline-block;
    font-family: $h5Font;
    vertical-align: middle;
}